<!DOCTYPE html>
<html ng-app="Competition">
<head>
    <meta charset="utf-8" />
    <title>Competition</title>
    <link type="text/css" rel="stylesheet" href="Content/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="Content/font-awesome.min.css" />
    <style>
        body {
            margin-top: 70px;
        }

        table.results th, table.results td {
            text-align: center !important;
            vertical-align: middle !important;
            border-collapse: collapse !important;
            border: 1px solid silver !important;
        }

        table.results thead th {
            white-space: nowrap;
        }

        table.results {
            border-collapse: collapse !important;
        }

    </style>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/competition/competition.min.js"></script>
</head>
<body ng-controller="competitionController as $ctrl">
    <div class="container-fluid">
        <form name="$form">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <span class="h4 card-title" ng-bind="$ctrl.competition.name"></span>
                    <div class="pull-right">
                        <div class="form-inline">
                            <div class="form-row">
                                <div class="form-group form-group-sm">
                                    <select ng-model="$ctrl.division" ng-options="division as division.name for division in $ctrl.competition.divisions" class="form-control bg-dark text-white input-sm"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-condensed table-bordered results">
                        <thead>
                            <tr>
                                <th rowspan="2">#</th>
                                <th rowspan="2">Competitor</th>
                                <th colspan="{{$ctrl.x}}">Judges</th>
                            </tr>
                            <tr>
                                <th ng-repeat="judge in $ctrl.judges">
                                    <span ng-bind="judge"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="competitor in $ctrl.competitors">
                                <th ng-bind="competitor.id"></th>
                                <th ng-bind="competitor.name"></th>
                                <td ng-repeat="judge in $ctrl.judges">
                                    <div class="form-row">
                                        <input type="text" ng-model="$ctrl.results[$parent.$index][$index]" class="form-control text-center" results="$ctrl.results" required />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        {{$form.$valid}}
    </div>
</body>
</html>